@import "nullstyle.scss";

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container{
  margin: 0 auto;
  justify-content: center;
}

.hi__title h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);

}
