@import "nullstyle";

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  justify-content: center;
  max-width: 1150px;
}

.content {
  flex: 1 1 auto;
}

.hi {
  background-color: #445162;
  padding: 50px;

  .hi__row {
    display: flex;
    justify-content: space-between;
  }

  .hi__title h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
  }

  .hi__list li {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 22px 0;
    padding: 0 0 0 35px;
    background: url("../img/icons/icon.png") left no-repeat;
  }
}

.whois{
  padding: 50px;
  .whois__row{
    display: flex;
    justify-content: space-between;
  }
  .whois__body{
    max-width: 645px;
    .whois__title{
        font-size: 30px;
        color: rgb(68, 81, 97);
    }
    p {
      font-size: 16px;
      color: rgb(51, 51, 51);
      line-height: 1.5;
      margin-top: 35px;
    }
  }
}


















